/**
 * Multiselect Component Style for uxcore
 * @author peijie.dpj
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */
/**
 * Multiselect Component Demo Style for Uxcore
 * @author peijie.dpj
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */
#UXCoreDemo {
  padding: 10px;
}
.kuma-multi-select {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  width: 200px;
  color: #666;
  font-size: 14px;
  line-height: 28px;
  height: 28px;
}
.kuma-multi-select-arrow {
  position: absolute;
  top: 50%;
  right: 8px;
  line-height: 1;
  margin-top: -7px;
  font-family: 'kuma';
}
.kuma-multi-select-arrow * {
  display: none;
}
.kuma-multi-select-arrow:before {
  content: '\e614';
}
.kuma-multi-select-selection {
  outline: none;
  user-select: none;
  background-color: #fff;
  border: 1px solid #ccc;
}
.kuma-multi-select-selection:hover {
  border-color: #ff9900;
}
.kuma-multi-select-disabled {
  color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
}
.kuma-multi-select-disabled .kuma-multi-select-selection:hover,
.kuma-multi-select-disabled .kuma-multi-select-selection:active {
  border-color: #ccc;
}
.kuma-multi-select .kuma-multi-select-selection__rendered {
  margin: 0;
  list-style: none;
}
.kuma-multi-select-search__field__placeholder {
  position: absolute;
  top: 0;
  left: 3px;
  color: #ccc;
}
.kuma-multi-select-selection--multiple {
  height: 28px;
  cursor: pointer;
  display: inline-block;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 20px;
  line-height: 26px;
}
.kuma-multi-select-selection--multiple--content {
  display: inline-block;
  overflow: hidden;
  width: 168px;
  vertical-align: inherit;
}
.kuma-multi-select-selection--multiple .kuma-multi-select-selection__rendered {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 6px;
  padding-bottom: 4px;
}
.kuma-multi-select-selection--multiple .kuma-multi-select-selection__choice {
  background-color: #f3f3f3;
  cursor: default;
  float: left;
  padding: 0 20px 0 8px;
  margin-right: 4px;
  max-width: 99%;
  position: relative;
}
.kuma-multi-select-selection--multiple .kuma-multi-select-selection__choice__content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.kuma-multi-select-selection--multiple .kuma-multi-select-selection__choice__content:last-child .kuma-multi-select-selection__choice__break {
  display: none;
}
.kuma-multi-select-selection--multiple .kuma-multi-select-selection__placeholder {
  color: #ccc;
}
.kuma-multi-select-open .kuma-multi-select-arrow:before {
  content: '\e613';
}
.kuma-multi-select-open .kuma-multi-select-selection {
  border-color: #ff9900;
}
.kuma-multi-select-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
}
.kuma-multi-select-mask-hidden {
  display: none;
}
.kuma-multi-select-mask-show {
  display: block;
}
.kuma-multi-select-dropdown {
  z-index: 1070;
  left: -9999px;
  top: -9999px;
  position: absolute;
  outline: none;
  overflow: hidden;
  font-size: 12px;
  padding-top: 5px;
}
.kuma-multi-select-dropdown .kuma-dropdown-menu {
  margin: 0;
  box-shadow: none;
  border: none;
}
.kuma-multi-select-dropdown-border {
  border: 1px solid #ccc;
}
.kuma-multi-select-dropdown .kuma-dropdown-menu > .kuma-dropdown-menu-item {
  display: inline-block;
  cursor: pointer;
}
.kuma-multi-select-dropdown .kuma-checkbox-group:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.01);
}
.kuma-multi-select-dropdown .kuma-checkbox-group > label {
  padding: 3px;
  display: inline-block;
}
.kuma-multi-select-content {
  overflow-y: auto;
  width: 280px;
  max-height: 102px;
  padding: 4px;
  background-color: #fff;
}
.kuma-multi-select-footer {
  text-align: center;
  background: #f2f2f2;
  padding: 4px;
}
.kuma-multi-select-footer p {
  color: #999;
}
.kuma-multi-select-footer .kuma-multi-select-button {
  margin: 3px;
}
.kuma-multi-select-footer .kuma-multi-select-button-hidden {
  display: none;
}

/*# sourceMappingURL=MultiSelect.css.map */